apiVersion: apps/v1
kind: Deployment
metadata:
  name: datapress-front
  namespace: datapress-recette
  labels:
    app: datapress-front
spec:
  replicas: 1
  selector:
    matchLabels:
      app: datapress-front
  template:
    metadata:
      labels:
        app: datapress-front
    spec:
      containers:
        - name: front
          image: datapress-front:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: API_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: datapress-config
                  key: API_BASE_URL
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            requests:
              cpu: 25m
              memory: 32Mi
            limits:
              memory: 64Mi

