--
-- PostgreSQL database cluster dump
--

\restrict gZTVGtZg1tbaT0PjBYdMhwVCWa2Lkshnx6sCpY1EMNdwaS6JIL4Z8TT8DtNwqgM

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:z/CLMCQ5wkghUnx97ipDlQ==$KYnaHR8wnKniIrXdfFyx5FhXI/9k4P7UI7TVSi+fgdk=:fGYBxvHRVR1XAlIlgbp1JHNtjxtnVPOS2cHSee+TpxI=';

--
-- User Configurations
--








\unrestrict gZTVGtZg1tbaT0PjBYdMhwVCWa2Lkshnx6sCpY1EMNdwaS6JIL4Z8TT8DtNwqgM

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict z7VSr3lFzv8hdBVkXUHkVQZfa2gB5HyiQ1QpMdn2KJGV5N05qB8e4JO28pNSGGN

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict z7VSr3lFzv8hdBVkXUHkVQZfa2gB5HyiQ1QpMdn2KJGV5N05qB8e4JO28pNSGGN

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict QoROaO4IRNyVRctWwCkSKeBrNbc3Hy0NfbeMhqbqq3mq0u9DE3BhQC4Ro4ZHpCT

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: s5_test_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.s5_test_data (
    valeur integer
);


ALTER TABLE public.s5_test_data OWNER TO postgres;

--
-- Data for Name: s5_test_data; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.s5_test_data (valeur) FROM stdin;
12345
\.


--
-- PostgreSQL database dump complete
--

\unrestrict QoROaO4IRNyVRctWwCkSKeBrNbc3Hy0NfbeMhqbqq3mq0u9DE3BhQC4Ro4ZHpCT

--
-- PostgreSQL database cluster dump complete
--

